<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#tab1">Employee details</a></li>
                    </ul>

                    <div id="tab1" class="tabcontent">
                        <h3>Add New Employee Details</h3>
                        <form action="/admin/add-emp" class="form" method="post" id="addempform">

                            <div class="form_row">
                                <label>First Name:</label>
                                <input type="text" class="form_input2" name="firstName" id="firstName" maxlength="35" required/>

                                <label>Last Name:</label>
                                <input type="text" class="form_input2" name="lastName" id="lastName" maxlength="35" required/>
                            </div>

                            <div class="form_row">
                                <label>Date of Birth:</label>
                                <input type="text" class="form_input2" id="dobshow" placeholder="DD-MM-YYYY" required readonly/>
                                <label>Date of Joining:</label>
                                <input type="text" class="form_input2" id="dojshow" placeholder="DD-MM-YYYY" required readonly/>
                            </div>
                            <input type="hidden" id="dob" name="dob"></input>
                            <input type="hidden" id="doj" name="doj"></input>
                            <div class="form_row">
                                <div class="yui3-skin-sam" id="mycalendarDobdiv">
                                    <div id="mycalendarDob"></div>
                                </div>
                                <div class="yui3-skin-sam" id="mycalendarDojdiv">
                                    <div id="mycalendarDoj"></div>
                                </div>
                            </div>

                            <div class="form_row">
                                <label>Employee ID (eg. INxxx):</label>
                                <input type="text" class="form_input2" id="empId" name="empId" maxlength="5" required/>
                                <label>Password:</label>
                                <input type="password" class="form_input2" id="password" name="password" maxlength="64" required/>
                            </div>

                            <div class="form_row">
                                <label>Roles:</label>
                                <select class="form_select" name="role" id="role">
                                    <option value="employee">Employee</option>
                                    <option value="admin">Admin</option>
                                </select>
                                <label>Employement Status:</label>
                                <select class="form_select" name="empStatus" id="empStatus">
                                    <option value="regular">Regular</option>
                                    <option value="intern">Intern</option>
                                    <option value="third-party">Third-party</option>
                                    <option value="retired">Retired</option>

                                </select>
                            </div>
                            <div class="form_row">
                                <label>Email ID:</label>
                                <input type="email" class="form_input" id="emailId" name="email" maxlength="254" required/>
                            </div>

                            <div class="form_row">
                                <label>Designation:</label>
                                <input type="text" class="form_input2" id="designation" name="designation" maxlength="45"/>
                                <label>Blood Group:</label>
                                <input type="text" class="form_input2" id="bloodGroup" name="bloodGroup"maxlength="3"/>
                            </div>

                            <!--<div class="form_row">
                                <h3>Permanent Address Details</h3>
                            </div>

                            <div class="form_row">
                                <label>Street Address:</label>
                                <input type="text" class="form_input" id="permAdd" />
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <input type="text" class="form_input2" id="permCity" />
                                <label>State:</label>
                                <input type="text" class="form_input2" id="permState" />
                            </div>

                            <div class="form_row">
                                <label>Country Code:</label>
                                <input type="text" class="form_input2" id="permCountry" />
                                <label>Zipcode:</label>
                                <input type="text" class="form_input2" id="permZipcode" />
                            </div>

                            <div class="form_row">
                                <h3>Correspondence Address Details</h3>
                            </div>


                            <div class="form_row">
                                <label>Street Address:</label>
                                <input type="text" class="form_input" id="currAdd" />
                            </div>

                            <div class="form_row">
                                <label>City:</label>
                                <input type="text" class="form_input2" id="currCity" />
                                <label>State:</label>
                                <input type="text" class="form_input2" id="currState" />
                            </div>

                            <div class="form_row">
                                <label>Country Code:</label>
                                <input type="text" class="form_input2" id="currCountry" />
                                <label>Zipcode:</label>
                                <input type="text" class="form_input2" id="currZipcode" />
                            </div>

                            <div class="form_row">
                                <h3>Communication Details</h3>
                            </div>

                            <div class="form_row">
                                <label>Skype ID:</label>
                                <input type="text" class="form_input2" id="skypeId" />
                                <label>Phone Number:</label>
                                <input type="text" class="form_input2" id="phoneNo" />
                            </div>-->

                            <div class="form_row">
                                <input type="button" class="form_submit" value="Submit" id="submit_button" />
                            </div>
                            {{#if statusmssg}}
                                <script>window.alert("{{message}}");</script>
                            {{/if}}
                            <div class="clear"></div>
                            <input type="hidden" value="{{updatinguuid}}" id="updatinguuid" />
                        </form>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
