<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Employee Details</h2>
                    <div id="content_box">
                        <ul>
                            <li>{{message}}</li>
                            {{#if uuid}}
                                <li><a href="/profile/{{uuid}}">Go to newly created profile</a></li>
                            {{/if}}
                            <li><a href="/admin">Back</a></li>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
