.yui3-calendar-header-label {
  cursor: pointer;
  color:  blue;
  text-decoration: none;
}

.yui3-calendar-jumpnav-panel {
  border: 1px solid #949494;
  box-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#mycalendarDobdiv {
  float : left;
}

#mycalendarDojdiv {
  float : right;
}

.invalidField {
  border:1px solid #f00;
}