<div id="{{mojit_view_id}}">
    <div id="panelwrap">
        {{> header1}}

        <div id="attendance_calendar">
            <h4>Leaves for uuid : {{uuid}}</h4>
            <input type="hidden" name="uuid" id="uuid" value="{{uuid}}" />
            <table>
                <tr>
                    <td>
                        <div id="start_date">
                            Start Date:
                            <input type="text" id="start_date_text" placeholder="DD-MM-YYYY" required readonly>
                            <input type="hidden" name="startdate" id="start_date" />
                            <div class="yui3-skin-sam">
                                <div id="start_date_calendar"></div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td>
                        <div id="end_date">
                            End Date:
                            <input type="text" id="end_date_text" placeholder="DD-MM-YYYY" required readonly style="display: inline;">
                            <input type="hidden" name="enddate" id="end_date" />
                            <div class="yui3-skin-sam">
                                <div id="end_date_calendar"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button id="submit_date" type="submit">Submit</button>
                    </td>
                </tr>
            </table>
            <div class="example yui3-skin-sam">
                <!-- You need this skin class -->
                <div id="simple"></div>

                <div id="labels"></div>
            </div>





            <!--<table id="rounded-corner">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>Date</th>-->
            <!--<th>Status</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody >-->
            <!--{{#empleaves}}-->
            <!--<tr class="odd">-->
            <!--<td>{{date}}</td>-->
            <!--<td>{{status}}</td>-->
            <!--</tr>-->
            <!--{{/empleaves}}-->
            <!--</tbody>-->
            <!--</table>-->
            <div class="clear"></div>
        </div>
    </div>
</div>