@mixin buttonProps($regular, $light, $dark, $clicked, $border, $text: white, $bgImage: none) {

	background: #{$bgImage} $regular;
	font-family: $fontProxSbold;
	border: 1px solid $border;
	padding: $paddingbtn;
	color: $text;
	text-transform: $textCaps;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 70px;
	-webkit-transition:none !important;
    -moz-transition:none !important;
    -o-transition:none !important;
    transition:none !important;
    text-shadow:none !important;



	&:hover {
		background: #{$bgImage} $dark;
		background: #{$bgImage}, -moz-linear-gradient(top, $light 0%, $dark 100%);
		background: #{$bgImage}, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$light), color-stop(100%,$dark));
		background: #{$bgImage}, -webkit-linear-gradient(top, $light 0%,$dark 100%);
		background: #{$bgImage}, -o-linear-gradient(top, $light 0%,$dark 100%);
		background: #{$bgImage}, -ms-linear-gradient(top, $light 0%,$dark 100%);
		background: #{$bgImage}, linear-gradient(to bottom, $light 0%,$dark 100%);
		

		@if ( $bgImage == 'SomeIllegalValue' ) {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$light}', endColorstr='#{$dark}',GradientType=0 ), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$bgImage}');
		}
	}

	&:focus {
		background: #{$bgImage} $dark;
	}

	&:active {
		background: #{$bgImage} $dark;
	}	
}

.btn-n.green {
	@include buttonProps( $green, $green, $greenDark, $greenDark, $greenDarker, $white, none);
}

#submit-gvreview-btn {
	@include buttonProps( $green, $green , $greenDark , $greenDark  , $greenDarker , $white , none);
}

.btn-n.blue {
	@include buttonProps( $blue, $blue, $blueDark, $blueDark, $blueDarker, $white, none);
}


.btn-n.gray , .gvclear .input .btn {
	@include buttonProps( $grayLight, $grayLight, $grayDark, $grayDark, $grayDarker, $grayDarker,  none);
}

.btn-n.purple {
	@include buttonProps( $purple, $purpleLight, $purpleDark, $purpleDark, $purpleDarker, $white, none);
}

input.disabled {
	@include buttonProps( $grayLight  , $grayLight  , $grayLight  , $grayDark  ,  $grayDarker  , $grayDarker  , none );
	
	pointer-events: none ;
	cursor: default;

	&:hover {
		background: none $grayLight ;
	}
}

.pull-right.sst .btn-n {
	margin-top: 0;
}

.btn-n.large {padding:15px 20px;font-size:15px ;}