@import "compass/css3";

.label {
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: middle;
    background-color: #999999;
    padding: 1px 4px 2px;
    @include border-radius(3px);
}

.label::visited {
    color: #FFF;
    text-decoration: none;
}

.label-info {
    background-color: #3A87AD;
}

a.label:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-important {
  background-color: #b94a48;
}

.label-important[href] {
  background-color: #953b39;
}

.label-warning {
  background-color: #f89406;
}

.label-warning[href] {
  background-color: #c67605;
}

.label-success {
  background-color: #468847;
}

.label-success[href] {
  background-color: #356635;
}

.label-info {
    background-color: #3a87ad;
}

.label-info[href] {
    background-color: #2d6987;
}

.label-inverse {
    background-color: #333333;
}

.label-inverse[href] {
    background-color: #1a1a1a;
}

.label-special {
    background-color: #5757F1;
}

.label-consider {
    background-color: #FF2C64;
}

.label-noship {
  background-color: #A67C52;
}

.label-guest {
  background-color: #7B7B7B;
}

.label-subscriber {
  background-color: #486E15;
}

.label-cancelled {
  background-color: #000000;
}

.label-blogger {
  background-color: #00C1B4;
}

.label-pastdue {
  background-color: #FF2C64;
}

.label-purchase {
  background-color: #395CC4;
}

.label-request {
  background-color: #8F0097;
}
