body { 
		background: url(../images/bg.jpg);
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444; 
 }

input[type="text"], input[type="password"]{
		box-shadow: 0px 0px 0px 4px #f2f5f7;
		width: 290px;
		height: 33px;

		padding: 0 10px 0 10px;
		margin: 0 20px;
		color: #aeaeae;
		border: 1px solid #bec2c4;
}
	
input[type="text"]:focus, input[type="password"]:focus
{
		box-shadow: 0px 0px 0px 4px #e0f1fc;
		border:1px solid #7dc6dd;
}
		
button 
{
		background:url(../images/login.png) no-repeat;
		width:82px;
		height:32px;
		border:0px;
		float: right;
		margin-right: 24px;
}
	
button:hover 
{
		background:url(../images/login_hover.png) no-repeat;
		width:82px;
		height:32px;
		border:0px;
}
	
button:active {
		background:url(../images/login_active.png) no-repeat;
		width:82px;
		height:32px;
		border:0px;
}	
		

.form-bg 
{
	width: 370px;
	height: 248px;
	border-radius:9px;
	margin: 120px auto 0;
	background: url(../images/form-bg.png) top left;
	padding: 8px 0 0 8px; 
}
	
.form-bg form {
		width: 360px;
		height: 239px;
		margin-top: -11px;
		margin-left: 2px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		border-radius:4px;
		box-shadow:10px 1px 3px 2px rgba(0,0,0,0.1);
}
	
.form-bg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
	}