<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Attendance Tasks</h2>
                    <div id="content_box">
                        <div id="attendance-tasks">
                            <ul>
                                <li>
                                    <h4>Edit Employee Attendance (Search for employee below)</h4>
                                    <form method="post" action="/search" id="searchbox-attendance">
                                        <input name="param" type="text" size="40" placeholder="Search an Employee by name or uuid" />
                                        <input type="submit" value="GO" />
                                    </form>
                                </li>
                                <li>
                                    <a href="/admin/attendancetasks/dateAttendance">
                                        <h4>
                                            <button>Upload Bulk Attendance</button>
                                        </h4>
                                    </a>
                                </li>
                                <!--li><form action="/admin/attendancetasks/dateAttendance" method="post">
                                    <input type="submit" value="Upload Attendance">
                                    <input type="text" name="date" id="datevalue" value="" required>
                                     <div class="yui3-skin-sam">
                                     <div id="mycalendar"></div>
                                    </div>
                                </-->
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>