<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Attendance Tasks</h2>
                    <div id="content_box">
                        {{#if single_employee}}
                        <form id="uploadform" action="/admin/attendancetasks/upload/{{uuid}}" method="post">
                            <h4>Edit attendance for employee : {{uuid}}</h4>
                            <h4>Choose Date Below : <span id="dateshow">{{date_show}}</span>
                                <input type="hidden" value="{{date}}" id="datevalue" name="date" readonly>
                                (dd-mm-yyyy)
                            </h4>
                            <div class="yui3-skin-sam">
                                <div id="mycalendar"></div>
                            </div>
                            <h4>Actions :</h4>
                            <ul>
                                <li>
                                    <input type="radio" value="present" name="attendanceAction" />Present</li>
                                <li>
                                    <input type="radio" value="holiday" name="attendanceAction" />Holiday</li>
                                <li>
                                    <input type="radio" value="on-leave" name="attendanceAction" />Leave</li>
                                <li>
                                    <input type="radio" value="absent" name="attendanceAction" />Absent</li>
                            </ul>
                            <input type="submit" value="Submit">
                        </form>
                        {{else}}
                        <form id="uploadform" action="/admin/attendancetasks/upload" method="post" enctype="multipart/form-data">
                            <h4>Choose Date Below : <span id="dateshow">{{date_show}}</span>
                                <input type="hidden" value="{{date}}" id="datevalue" name="date" readonly>
                            </h4>
                            <div class="yui3-skin-sam">
                                <div id="mycalendar"></div>
                            </div>
                            <h4>Actions :</h4>
                            <ul>
                                <li>
                                    <input type="radio" value="processed" name="attendanceAction" />Mark All Present</li>
                                <li>
                                    <input type="radio" value="holiday" name="attendanceAction">Mark as Holiday</li>
                                <li>
                                    <input type="radio" value="uploaded" name="attendanceAction">Upload CSV
                                    <input id="fileupload" type="file" name="csvFile">
                                </li>
                            </ul>
                            <input type="submit" value="Submit">
                        </form>
                        {{/if}}
                        <!--button id="uploadButton">Upload</button-->
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>