<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <!--script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  });
  </script-->

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#tab1">Employee details</a></li>
                    </ul>

                    <div id="tab1" class="tabcontent">
                        <h3>Edit Employee Details</h3>
                        <div class="form">
                        <h3>Personal Details</h3>

                            {{#personl}}
                            <div class="form_row">
                                <label>First Name:</label>
                                <input type="text" class="form_input2" value="{{fname}}" id="firstName" />
                                <label>Last Name:</label>
                                <input type="text" class="form_input2" value="{{lname}}" id="lastName" />
                            </div>

                            <div class="form_row">
                                <label>Date of Birth:</label>
                                <input type="text" class="form_input2" id="dobshow" placeholder="DD-MM-YYYY" value="{{dob}}" required readonly/>
                                <label>Date of Joining:</label>
                                <input type="text" class="form_input2" id="dojshow" placeholder="DD-MM-YYYY" value="{{doj}}" required readonly/>
                            </div>

                            <div class="form_row">
                                <label>Employee ID:</label>
                                <input type="text" class="form_input2" id="empId" value="{{empid}}" />

                                <label>UUID:</label>
                                <input type="text" class="form_input2" id="uuid" value="{{uuidlink}}" />
                            </div>

                            <div class="form_row">
                                <label>Designation:</label>
                                <input type="text" class="form_input2" id="designation" value="{{designation}}" />
                                <label>Blood Group:</label>
                                <input type="text" class="form_input2" id="bloodGroup" value="{{bloodgrp}}" />

                            </div>

                            <div class="form_row">
                                <label>Email ID:</label>
                                <input type="text" class="form_input2" id="emailId" value="{{emailid}}" />
                                <input type="hidden" id="getEmpStatus" value="{{empstatus}}" />

                                <label>Employement Status:</label>
                                <select class="form_select" id="empStatus">
                                    <option value="0">regular</option>
                                    <option value="1">intern</option>
                                    <option value="2">third-party</option>
                                    <option value="3">retired</option>
                                </select>
                            </div>

                            <div class="form_row">
                                <input type="hidden" id="getRole" value="{{role}}" />

                                <label>Roles:</label>
                                <select class="form_select" id="role">
                                    <option value="0">employee</option>
                                    <option value="1">admin</option>
                                </select>
                                <label>Password:</label>
                                <input type="password" class="form_input2" id="password" value="{{pass}}" placeholder="****" />

                            </div>
                            {{/personl}}

                            <h3>Address Details</h3>
                            <div id="address_block">
                                {{#addr}}
                                
                                <div id="addrDiv">
                                <div class="form_row">
                                    <input type="hidden" class="form_input" id="addr_type_get" value="{{addr_type}}" />
                                    <label>Address Type:</label>
                                    <select class="form_select" id="addr_type">
                                        <option value="0">permanent</option>
                                        <option value="1">present</option>
                                        <option value="2">other</option>
                                    </select>

                                </div>

                                <div class="form_row">
                                    <label>Street Address:</label>
                                    <input type="text" class="form_input" id="street_address" value="{{street_address}}" />
                                </div>

                                <div class="form_row">
                                    <label>City:</label>
                                    <input type="text" class="form_input2" id="city" value="{{city}}" />
                                    <label>State:</label>
                                    <input type="text" class="form_input2" id="state" value="{{state}}" />
                                </div>

                                <div class="form_row">
                                    <label>Country Code:</label>
                                    <input type="text" class="form_input2" id="country_code" value="{{country_code}}" />
                                    <label>Zipcode:</label>
                                    <input type="text" class="form_input2" id="zipcode" value="{{zipcode}}" />
                                </div>
                                <div class="form_row">
                                <!--
                                <input type="submit" class="form_submit" value="Remove This Address Details" id="remove_address_button">
                                -->
                                </div>
                                </div>
                                {{/addr}}

                            
                                <div class="form_row">
                                    <input type="submit" class="form_submit2" value="Add New Address Details" id="address_button" />
                                </div>
                                
                                <div class="form_row">
                                    <div id="add_address_details_here">

                                    </div>
                                </div>
                                
            
                            </div>

                            <h3>Communication Details</h3>
                            
                            <div id="comm_block">
                            {{#comm}}
                              <div id="commDiv">
                                <div class="form_row">
                                    <label>Communication Type:</label>
                                    <input type="hidden" class="form_input" id="comm_type_get" value="{{comm_type}}" />
                                    <select class="form_select" id="comm_type">
            
                                        <option value="0">email</option>
                                        <option value="1">skype</option>
                                        <option value="2">phone-primary</option>
                                        <option value="3">phone-office</option>
                                        <option value="4">phone-other</option>
                                        <option value="5">twitter</option>
                                        <option value="6">facebook</option>
                                        <option value="7">linkedin</option>
                                    </select>
            

                                </div>
                                <div class="form_row">
                                    <label>Details:</label>
                                    <input type="text" class="form_input2" id="comm_details" value="{{comm_details}}" />

                                </div>
                                <!--
                                <div class="form_row">
                                
                                <input type="submit" class="form_submit" value="Remove This Communication Detail" id="remove_comm_button" />
                                </div>
                                -->
                              </div>
                            {{/comm}}
                            
                            <div class="form_row">
                                <input type="submit" class="form_submit2" value="Add New Communication Details" id="comm_button" />
                            </div>

                            <div class="form_row">
                                <div id="add_comm_details_here">

                                </div>
                            </div>
                            
                            </div>

                            <h3>Family Details</h3>
                            <div id="family_block">
                            
                            {{#family}}
                            <div id="familyDiv">
                                <div class="form_row">
                                <label>Relation:</label>
                                <input type="hidden" id="family_type_get" value="{{family_relation}}" />
                                <select class="form_select" id="family_type"> 
                                    <option value="0">father</option>
                                    <option value="1">mother</option>
                                    <option value="2">spouse</option>
                                    <option value="3">child</option>
                                </select>
                                </div>
                                <div class="form_row">
                                
                                <label>Full Name:</label>
                                <input type="text" class="form_input2" id="family_fullName" value="{{family_name}}" />
                                <label>Dependent:</label>
                                <input type="hidden" id="family_dependent_get" value="{{family_dependent}}" />
                                
                                <select class="form_select" id="family_dependent"> 
                                    <option value="0">true</option> 
                                    <option value="1">false</option> 
                                </select>
                                </div>
                                <div class="form_row">
                                
                                <label>Date of birth:</label>
                                <input type="text" class="form_input2 datepickerdob" id="family_dob" value="{{family_dob}}" readonly/>
                                <!--input type="hidden" id="family_dob" value="{{family_dob}}"-->

                                <input type="hidden" class="form_input2" id="family_dependentId" value="{{family_dependentId}}" />
                                
                                <label>Blood Group:</label>
                                <input type="text" class="form_input2" id="family_bloodGroup" value="{{family_bloodGroup}}" />
                            
                                </div>
                                <!--div class="yui3-skin-sam" id="mycalendarDobdiv">
                                    <div id="mycalendarDob"></div>
                                </div-->
<!--
                                <div class="form_row">
                                
                                 <input type="submit" class="form_submit" value="Remove This Family Member Details" id="remove_family_button" /> 
                                </div>
                            -->
                        </div>
                            {{/family}}

                            <div class="form_row">
                                <input type="submit" class="form_submit2" value="Add New Family Member Details" id="family_button" />
                            </div>

                                <div class="form_row">
                                    <div id="add_family_details_here">

                                    </div>
                                </div>
                               
                
                            </div>
                            <div class="form_row">
                                <input type="submit" class="form_submit" value="Submit" id="submit_button" />
                            </div>


                            <input type="hidden" value="{{admin}}" id="RoleCheck"/>
                            <input type="hidden" value="{{allow_access}}" id="EmpCheck"/>

                            <div class="clear"></div>

                        </div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}
            <div class="clear"></div>
            </div>

    </div>
</div>
