<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <ul id="tabsmenu" class="tabsmenu">
                        <li class="active"><a href="#PersonalDetails">Peronsal details</a></li>
                        <li><a href="#AddressDetails">Address details</a></li>
                        <li><a href="#CommunicationDetails">Communication details</a></li>
                        <li><a href="#FamilyDetails">Family details</a></li>
                    </ul>

                    <div id="PersonalDetails" class="tabcontent">
                        <h3>Peronsal Details</h3>

                        <div class="form">
                            {{#personl}}
                            <div class="form_row">
                                <label>First Name:</label><label class="class2">{{fname}}</label>
                                <label>Last Name:</label><label class="class2">{{lname}}</label>

                            </div>

                            <div class="form_row">
                                <label>Email ID:</label><label class="class2">{{emailid}}</label>
                                <label>Employee ID:</label><label class="class2">{{empid}}</label>

                            </div>

                            <div class="form_row">
                                <label>Blood Group:</label><label class="class2">{{bloodgrp}}</label>
                                <label>Employee Status:</label><label class="class2">{{empstatus}}</label>

                            </div>

                            <div class="form_row">
                                <label>Date of Birth:</label><label class="class2">{{dob}}</label>
                                <label>Date of Joining:</label><label class="class2">{{doj}}</label>

                            </div>

                            {{/personl}}
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="AddressDetails" class="tabcontent">
                        <h3>Address Details</h3>
                        <div class="form">
                            {{#addr}}
                                {{#if sno}}
                                    <div class="form_row">
                                        <label class="class2" style="margin-left: 250px;">. . . . . . . . . </label>
                                    </div>
                                {{/if}}

                            <div class="form_row">
                                    <label>Address Type:</label>
                                    <label class="class2">{{addr_type}}</label>
                                </div>

                                <div class="form_row">
                                    <label>Street Address:</label>
                                    <label class="class2" style="width:500px">{{street_address}}</label>
                                
                                </div>

                                <div class="form_row">
                                    <label>City:</label>
                                    <label class="class2">{{city}}</label>
                                
                                    <label>State:</label>
                                    <label class="class2">{{state}}</label>
                                
                                </div>

                                <div class="form_row">
                                    <label>Country Code:</label>
                                    <label class="class2">{{country_code}}</label>
                                
                                    <label>Zipcode:</label>
                                    <label class="class2">{{zipcode}}</label>
                                
                                </div>

                            {{/addr}}

                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="CommunicationDetails" class="tabcontent">
                        <h3>Communication Details</h3>
                        <div class="form">
                            {{#comm}}
                            <div class="form_row">
                                <label>Communication Type:</label><label class="class2">{{comm_type}}</label>
                                <label>Details:</label><label class="class2">{{comm_details}}</label>
                            </div>
                            {{/comm}}
                        
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div id="FamilyDetails" class="tabcontent">
                        <h3>Family Details</h3>
                        <div class="form">

                            {{#family}}
                            {{#if sno}}
                                <div class="form_row">
                                    <label class="class2" style="margin-left: 250px;">. . . . . . . . . </label>
                                </div>
                            {{/if}}
                            <div class="form_row">
                                <label>{{family_relation}} name:</label><label class="class2">{{family_name}}</label>
                                <label>Date of birth:</label><label class="class2">{{family_dob}}</label>
                            </div>
                            <div class="form_row">
                                <label>Dependent:</label><label class="class2">{{family_dependent}}</label>
                                <label>Blood Group:</label><label class="class2">{{family_bloodGroup}}</label>
                            </div>

                            {{/family}}
                            <div class="clear"></div>
                        </div>

                    </div>

                    <div class="edit_link">
                        <label><a href="/profile/{{uuidlink}}/edit">Edit Profile</a></label>
                    </div>


                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
