<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">
                    <!-- BODY CONTENT -->
                    <h2>Welcome to the Admin Panel</h2>
                    <div id="content_box">
                    <p>Please choose a task to perform from the Admin tasks list provided. </p>
                        <div class="clear"></div>
                    </div>

                    <div class="toogle_wrap">
                        <div class="trigger"><a href="#">Notifications</a></div>

                        <div class="toggle_container">
                            <p>
                                Please Click on dates to upload missing attendance records of the corresponding dates (dd-mm-yyyy)
                            </p>
                            {{#each missing}}
                            <a href="/admin/attendancetasks/dateattendance?date={{date}}">{{date_show}}</a>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>


            {{> admin_sidebar }}

        </div>

    </div>
</div>
