<div id="{{mojit_view_id}}" class="mojit">
    <div id="panelwrap">

        {{> header1 }}

        <div class="center_content">

            <div id="right_wrap">

                <div id="right_content">

                    <!-- BODY CONTENT -->

                    <h2>Search Results</h2>

                    <table id="rounded-corner">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Email ID</th>
                                <!--<th>Phone No.</th>
                            <th>Skype ID</th>
                            <th>Emp ID</th>-->
                                <th>UUID</th>
                                {{#if admin}}
                                <th>View</th>
                                <th>Delete</th>
                                <th>Change Attendance</th>
                                {{/if}}
                            </tr>
                        </thead>

                        <tbody>
                            {{#emplist}}
                            <tr class="odd">
                                <td>{{sno}}.</td>
                                <td>{{firstName}} {{lastName}}</td>
                                <td>{{email}}</td>
                                <!--<td>{{phoneNumber}}</td>
                                <td>{{skypeId}}</td>
                                <td>{{empId}}</td>-->
                                <td>{{uuid}}</td>

                                {{#if admin}}
                                <td><a href="/profile/{{uuid}}">View</a>
                                </td>
                                <td><a href="/profile/{{uuid}}/delete">Delete</a>
                                </td>
                                <td><a href="/admin/attendancetasks/dateAttendance/{{uuid}}">change, </a><a href="/admin/leaves?uuid={{uuid}}">check</a>
                                </td>
                                {{/if}}
                            </tr>
                            {{/emplist}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{> admin_sidebar}}
        </div>
    </div>
</div>