<div class="sidebar" id="sidebar">
    {{#if admin}}
    <h2>Admin Tasks</h2>
    <ul>
        <li><a href="/admin/add-emp">Add New Employee</a></li>
        <li><a href="/admin/manage-emp">Manage Employees</a></li>
        <li><a href="/admin/attendancetasks">Attendance Tasks</a></li>
    </ul>
    {{else}}
    <h2>Employee Tasks</h2>
    <ul>
        <li><a href="#">Comming Soon</a></li>
    </ul>
    {{/if}}
</div>


<div class="clear"></div>