<div class="header1">
    <div class="title"><a href="#">{{PanelName}}</a></div>

    <div class="header_right">Welcome {{RoleName}}, <a href="/logout" class="logout">Logout</a> </div>

    <div class="menu">
        <ul>

            {{#if admin}}
                <li><a href="/admin" class={{class1}}>Home page</a></li>
                <li><a href="/profile/{{uuidlink}}" class={{class2}}>My Profile</a></li>
                <li><a href="/admin/leaves" class={{class3}}>My Leaves</a></li>
            {{else}}
                <li><a href="/profile/{{uuidlink}}" class={{class2}}>My Profile</a></li>
                <li><a href="/emp/leaves" class={{class3}}>My Leaves</a></li>
            {{/if}}



        </ul>

    </div>

</div>