<div id="panelwrap">

    <div class="header1">
        <div class="title"><a href="#">{{PanelName}}</a></div>

        <div class="header_right">Welcome {{RoleName}}, <a href="#" class="settings">Settings</a> <a href="#" class="logout">Logout</a> </div>

            <div class="menu">
                <ul>
                    <li><a href="/admin" class={{class1}}>Home page</a></li>
                    <li><a href="/profile" class={{class2}}>My Profile</a></li>
                    <li><a href="#">My Leaves</a></li>
                </ul>
            </div>

        </div>

        <div class="center_content">

            <div id="right_wrap">
                <div id="right_content">
                    <!-- BODY CONTENT -->
                    {{{bodycontent}}}
                </div>
            </div><!-- end of right content-->


            <div class="sidebar" id="sidebar">
                <h2>Admin Tasks</h2>

                <ul>
                    <li><a href="#">Add New Employee</a></li>
                    <li><a href="#">Manage Employees</a></li>
                    <li><a href="#">Attendance Tasks</a></li>
                </ul>
            </div>


            <div class="clear"></div>
        </div> <!--end of center_content-->

</div>
